/CustomObjectMapperDemo.class
/CustomObjectMapperDemo$Student.class
/LoggingProxyDemo.class
/LoggingProxyDemo$Greeting.class
/LoggingProxyDemo$GreetingImpl.class
/LoggingProxyDemo$LoggingHandler.class
/ObjectToJsonDemo.class
/ObjectToJsonDemo$Student.class
